{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="max-w-md mx-auto bg-white p-6 rounded-md shadow-md">
    <h2 class="text-2xl font-bold mb-6 text-center">Create New Flashcard Set</h2>
    <!-- Message box for AJAX responses -->
    <div id="message-box" class="mb-4"></div>

    {% if form.errors %}
        <div class="bg-red-100 text-red-700 p-4 rounded mb-4">
            {{ form.errors }}
        </div>
    {% endif %}
    <form method="post" action="{% url 'flashcard-set-add' %}" class="space-y-4 ajax-form">
        {% csrf_token %}
        {{ form.name.label_tag }}<br>
        {{ form.name }}
        <button type="submit" class="w-full mt-4 px-4 py-2 bg-blue-500 text-white rounded hover:bg-blue-600">
            Create Set
        </button>
    </form>
</div>
{% endblock %}

{% block scripts %}
<script src="{% static 'js/form_submit.js' %}"></script>
{% endblock %}
